
include "NDPluginBase.template"

record(longout, "$(P)$(R)BlockSize"){
    field(DESC, "Number of frames in the block")
    field(DTYP, "asynInt32")
    field(OUT , "@asyn($(PORT),$(ADDR),$(TIMEOUT))BLOCK_SIZE")
    field(PINI, "YES")
}

record(mbbo, "$(P)$(R)PimegaModel") {
    field(DESC, "Pimega Model")
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT),$(ADDR),$(TIMEOUT))PIMEGA_MODEL")
    field(ZRVL, "1536")    field(ZRST, "135D")
    field(ONVL, "3072")    field(ONST, "540D")
}
